html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  min-width: 380px;
  min-height: 480px;
  width: 100%;
  height: 100vh;
  background: url('../img/pexels-photo-236110.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: background 1.5s linear;
}
header {
  top: 0;
}
.navbar {
  box-shadow: none;
}
.navbar-logo {
  height: 34px;
}
